#wyr-steps {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#wyr-steps .step {
    min-width: 2.25rem;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}